* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  letter-spacing: 1.1px;
}

html {
  scroll-behavior: smooth;
}

body {
  padding-bottom: 55px;
  color: rgb(82, 62, 62);
}

ul {
  padding: 0%;
}